<div class="container">
    <div class="photo-panel">
      <img src="../../../../../assets/images/auth.png">
    </div>

    <div class="form-panel">
      <mat-card class="login-card">
        <mat-card-header>
          <mat-card-title class="header">Увійти в Shoporium</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form class="login-form" [formGroup]="form">
            <h5>Введіть свої дані нижче</h5>
  
            <mat-form-field class="full-width border-gray">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
            </mat-form-field>
  
            <mat-form-field class="full-width border-gray">
              <mat-label>Пароль</mat-label>
              <input matInput formControlName="password" type="password" />
            </mat-form-field>
  
            <div class="auth">
              <button mat-raised-button color="primary" class="login-btn" (click)="login()">
                Авторизуватись
              </button>
              <a href="#" class="forgot-password">Забули пароль?</a>
            </div>

            <p class="login-link">Немає акаунту? <span class="link" (click)="register()">Зареєструватись</span></p>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  