shoporium

<div *ngIf="currentUserName">
    FirstName: {{ currentUserName }}

    <button mat-raised-button color="primary" (click)="logout()">Вийти</button>
</div>

<div *ngIf="!currentUserName">
    <button mat-raised-button color="primary" (click)="authorize()">Авторизуватись</button>
    <button mat-raised-button color="primary" (click)="register()">Зареєструватись</button>
</div>

<div *ngFor="let productCategory of productCategories.productCategories">
    {{ productCategory.name }}
</div>

<router-outlet></router-outlet>