ul {
    list-style-type: none;
    width: 300px;
    font-family: montserrat;
    background-color: white;
    padding: 20px 5px;
    border: 1px solid gray;
    border-radius: 10px;
}

li {
    cursor: pointer;
    width: 300px;
    margin: 0;
    padding-top: 5px;
}

li ul {
    display: none;
    position: absolute;
    margin-left: 250px;
    margin-top: -55px;
    background-color: white;
}

li:hover ul {
    display: block;
}