<div class="sidebar">
  <h2>Налаштування акаунту</h2>
  <ul>
    <li><a href="account/profile/data" class="active">Мій Профіль</a></li>
    <li><a href="account/profile/first">Адреса доставки</a></li>
    <li><a href="#">Варіанти оплати</a></li>
  </ul>

  <h2>Мої замовлення</h2>
  <ul>
    <li><a href="#">В процесі</a></li>
    <li><a href="#">Успішно</a></li>
    <li><a href="#">Відхилено</a></li>
  </ul>

  <h2>Мої продажі</h2>
  <ul>
    <li><a href="#">В процесі</a></li>
    <li><a href="#">Успішно</a></li>
    <li><a href="#">Відхилено</a></li>
  </ul>

  <h2>Список бажань</h2>
  <ul>
    <li><a href="#">Кошик</a></li>
    <li><a href="#">Уподобано</a></li>
  </ul>
</div>
