<div class="footer">
  <div class="footer-content">
    <div class="content-item">
      <h1>Shoporium</h1>
    </div>

    <div class="content-item">
      <h2>Підтримка</h2>
      <div class="value">
        Львів, Україна
      </div>

      <div class="value">
        taras.vynar24@gmail.com
      </div>

      <div class="value">
        +38 (098) 02 98 980
      </div>
    </div>

    <div class="content-item">
      <h2>Акаунт</h2>

      <div class="value">
        Мій акаунт
      </div>

      <div class="value">
        Логін / Реєстрація
      </div>

      <div class="value">
        Мої магазини
      </div>

      <div class="value">
        Кошик
      </div>
    </div>

    <div class="content-item">
      <h2>Швидке посилання</h2>

      <div class="value">
        Популярні товари
      </div>

      <div class="value">
        FAQ
      </div>

      <div class="value">
        Контакти
      </div>
    </div>
  </div>

  <p class="rights">&copy; 2024 Shoporium. Усі права захищено.</p>
</div>
