.main {
    padding: 20px 50px;
    font-family: montserrat;
    border-right: 1px solid gray;
    position: relative;
    z-index: auto !important; /* змініть це значення на те, яке потрібно, щоб категорії були поверх слайдера */
}

ul {
    margin: 10px 0;
    list-style-type: none;
}