<div class="product-container" *ngIf="product" [ngStyle]="isNotPreview ? {'display': 'flex'} : {}" (mouseenter)="togglePhoto(true)" (mouseleave)="togglePhoto(false)">
  <div class="product-photo">
    <div class="photo-container">
      <img [ngClass]="{'hidden': showSecondPhoto}" src="data:image/png;base64,{{ product.downloadedPhotos[0] }}" alt="Main Photo" class="photo" *ngIf="product.downloadedPhotos?.length">
      <img [ngClass]="{'hidden': showSecondPhoto}" [src]="mainPhotoUrl" alt="Main Photo" class="photo" *ngIf="!product.downloadedPhotos?.length && product.productPhotos[0]">
      <img [ngClass]="{'hidden': !showSecondPhoto}" src="data:image/png;base64,{{ product.downloadedPhotos[1] }}" alt="Second Photo" class="photo" *ngIf="product.downloadedPhotos?.length">
      <img [ngClass]="{'hidden': !showSecondPhoto}" [src]="mainPhotoUrl" alt="Second Photo" class="photo" *ngIf="!product.downloadedPhotos?.length && product.productPhotos[1]">
    </div>
  </div>
  
  <p *ngIf="product.price" class="price">{{ product.price }} ₴</p>
</div>


<div class="info">
  <div class="product-name">
    <h3>{{ product.name }}</h3>
  </div>
</div>  
