.store-container {
  text-align: center;
  padding: 50px;
  font-family: montserrat;
  justify-content: space-around;
}

.store-background {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.store-background img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.store-photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.store-photo img {
  width: 100%;
  height: 100%;
}

.store-name {
  margin-bottom: 20px;
  font-size: 25px;
}

h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

.store-description {
  margin: 0 auto;
  max-width: 500px;
  text-align: justify;
}

.img-info {
  max-width: 60vh;
}

.info {
  display: flex;
  flex-direction: column;
}

.button {
  display: block;
  margin: -18px auto 0;
  background-color: rgb(219, 68, 68);
  color: white;
  width: 200px;
}

.button:hover {
  background-color: rgb(192, 53, 53);
}

.owner-block {
  border-bottom: 1px solid rgb(202, 202, 202);
  margin-bottom: 50px;
  padding-bottom: 15px;
}