<div class="store-container" *ngIf="store">
  <div *ngIf="isPhotoSelected" class="store-background">
    <div>
      <ng-container *ngIf="store.downloadedBackgroundPhoto; else elseBackgroundPhotoBlock">
        <img src="data:image/png;base64,{{ store.downloadedBackgroundPhoto }}" alt="Background Photo">
      </ng-container>
      <ng-template #elseBackgroundPhotoBlock>
        <img *ngIf="store.backgroundPhoto" [src]="store.backgroundPhoto" alt="Background Photo">
      </ng-template>
    </div>    

    <div class="store-photo">
      <ng-container *ngIf="store.downloadedMainPhoto; else elseMainPhotoBlock">
        <img src="data:image/png;base64,{{ store.downloadedMainPhoto }}" alt="Main Photo">
      </ng-container>
      <ng-template #elseMainPhotoBlock>
        <img *ngIf="store.mainPhoto" [src]="store.mainPhoto" alt="Main Photo">
      </ng-template>
    </div>
    
  </div>

  <div class="store-name">
    <h3>{{ store.name }}</h3>
  </div>

  <div *ngIf="category" class="store-name">
    <h4>Категорія магазину: {{ category }}</h4>
  </div>

  <div class="store-description">
    <p>{{ store.description }}</p>
  </div>
</div>
