<div class="store-container" *ngIf="store" [ngStyle]="isNotPreview ? {'display': 'flex'} : {}">
  <div *ngIf="isPhotoSelected" class="store-background">
    <div class="img-info">
      <ng-container *ngIf="store.downloadedBackgroundPhoto; else elseBackgroundPhotoBlock">
        <img src="data:image/png;base64,{{ store.downloadedBackgroundPhoto }}" alt="Background Photo" class="photo">
      </ng-container>
      <ng-template #elseBackgroundPhotoBlock>
        <img *ngIf="store.backgroundPhoto" [src]="store.backgroundPhoto" alt="Background Photo" class="photo">
      </ng-template>
    </div>    
  
    <div class="store-photo">
      <ng-container *ngIf="store.downloadedMainPhoto; else elseMainPhotoBlock">
        <img src="data:image/png;base64,{{ store.downloadedMainPhoto }}" alt="Main Photo" class="photo">
      </ng-container>
      <ng-template #elseMainPhotoBlock>
        <img *ngIf="store.mainPhoto" [src]="store.mainPhoto" alt="Main Photo" class="photo">
      </ng-template>
    </div>
  </div>  

  <div class="info">
    <div class="store-name">
      <h3>{{ store.name }}</h3>
    </div>
  
    <div *ngIf="category">
      <h4>Категорія магазину: {{ category }}</h4>
    </div>
  
    <div class="store-description">
      <p>{{ store.description }}</p>
    </div>
  </div>
</div>

<div class="owner-block">
  <button mat-stroked-button class="button" *ngIf="isOwner" (click)="createProduct()">Додати новий товар</button>  
</div>

<div *ngIf="store">
  <app-list-of-product-cards [storeId]="store.id"></app-list-of-product-cards>
</div>