<div class="container">
  <div class="text">
    <h1>Наша Історія</h1>

    <p>
      Мене звати Тарас, і цей сайт - мій дипломний проект. Моя головна
      мета - зробити покупки та продажі товарів дуже простими і вигідними для
      всіх.
    </p>

    <p>
      Цей сайт розроблено з метою дипломної роботи з покращенням процесу покупок
      та продажів, забезпечуючи зручність і вигоду як для продавців, так і для
      покупців.
    </p>
  </div>
  <div class="image">
    <img src="../../../../../assets/images/about/about.png" alt="Image" />
  </div>
</div>

<div class="features">
  <div class="feature">
      <div class="icon-container">
        <img src="../../../../../assets/images/about/group.png" alt="Background Image">
        <img src="../../../../../assets/images/about/icon-delivery.png" alt="Delivery Truck Icon" class="icon">
      </div>
      <h3>БЕЗКОШТОВНА ТА ШВИДКА ДОСТАВКА</h3>
      <p>Безкоштовна доставка для всіх замовлень на суму понад 1000 гривень</p>
  </div>
  <div class="feature">
      <div class="icon-container">
        <img src="../../../../../assets/images/about/group.png" alt="Background Image">
        <img src="../../../../../assets/images/about/Icon-Customer.png" alt="Customer Service Icon" class="icon">
      </div>
      <h3>ОБСЛУГОВУВАННЯ КЛІЄНТІВ 24/7</h3>
      <p>Дружня, цілодобова підтримка клієнтів</p>
  </div>
  <div class="feature">
      <div class="icon-container">
          <img src="../../../../../assets/images/about/group.png" alt="Background Image">
          <img src="../../../../../assets/images/about/Icon-secure.png" alt="Money Back Icon" class="icon">
      </div>
      <h3>ГАРАНТІЯ ПОВЕРНЕННЯ ГРОШЕЙ</h3>
      <p>Гроші повертаємо протягом 30 днів</p>
  </div>
</div>
